.t_head
{
	background: #FFFF00;
	border: #999 solid 1;
	//color: #330000;
	font-weight:bold;
	text-align: center;
}

td{
	border: #999 dotted 1;
	
}

.digit {text-align:right; font-weight:bold; color:red;}