body {
  font: 12px/1.7em 'Open Sans', arial, sans-serif;
  background: #fafafa;
}
/*------------------------------------------------------------------
Layout: Wrapper
------------------------------------------------------------------- */
html, body {height: 100%;}
#wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -61px;}
.push {height: 60px;}

/*------------------------------------------------------------------
Layout: Header strip
------------------------------------------------------------------- */
#header-strip {
  position: relative;
  z-index: 91;
  padding:10px 0;
  background: #1d354d;
  -webkit-box-shadow: inset 0 1px 0 #28496b;
  -moz-box-shadow: inset 0 1px 0 #28496b;
  box-shadow:0 0 10px #969696 inset 0 1px 0 #28496b;
}
#header-strip .container {
  position: relative;
}
#header-strip .brand {
  position: relative;
  float:left;
  display: block;
  overflow: hidden;
  width: 130px;
  height: 39px;
  margin-right: .75em;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 600;
  background: url(../images/brand-1.png) no-repeat 0 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/*------------------------------------------------------------------
UserInfo / .userinfo
------------------------------------------------------------------- */
#userinfo {
	float:right;
}
#userinfo .userinfo {
    background: none no-repeat scroll top left #16283A;
    border: 1px solid #0e1d2b;
	-webkit-box-shadow: 0 1px 0 #2b4e72;
	-moz-box-shadow: 0 1px 0 #2b4e72;
	box-shadow: 0 1px 0 #2b4e72;
    color: #CCCCCC;
    display: inline-block;
    padding: 4px 10px 2px 3px;
    position: relative;
    vertical-align: top;
    min-width: 80px;
	border-radius:3px;
	text-decoration:none;
}
#userinfo .userinfo i {
    
}
#userinfo .userinfo span {
    width: auto;
    display:inline-block !important;
}
#userinfo .dropdown-menu {
    margin-top: -8px;
    margin-left: -35px !important;
}

#userinfo .caret {
  margin-top: 8px;
  margin-left: .25em;
  border-top-color: #FFF;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
#userinfo .active .dropdown-toggle .caret {
  border-top-color: #1d354d;
}
/*------------------------------------------------------------------
Main-top / #main-top
------------------------------------------------------------------- */
#main-top {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 0;
}
#main-top > li {
  float: left;
  padding: 0;
  margin: 0 0 0 0;
  list-style: none;
}
#main-top > li > a {
  padding:6px;
  font-size: 12px;
  color: #ffffff;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
#main-top > li > a:hover,
#main-top > li.open > a {
  background-color: #16283A;
}
#main-top .caret {
  margin-top: 8px;
  margin-left: .25em;
  border-top-color: #FFF;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
#main-top .active .dropdown-toggle .caret {
  border-top-color: #1d354d;
}
#main-top .badge {
  font-size: 10.844px;
  line-height: 12px;
}
/*------------------------------------------------------------------
Layout: Menu strip
------------------------------------------------------------------- */
#menu-strip {
  position: relative;
  color: #ffffff;
  height:38px;
  background: #1d354d;
  margin-bottom:20px; 
  box-shadow:0 0 10px #969696;
}
#menu-strip .btn-navbar {
  display: none;
  height: auto;
  padding: 14px 0 10px;
  margin-top: 25px;
  margin-right: -20px;
  margin-left: -20px;
  color: #94ba65;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #010203;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#menu-strip .btn-navbar:hover {
  text-decoration: none;
}
/*------------------------------------------------------------------
Layout: Main Nav
------------------------------------------------------------------- */
#main-nav {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 0;
}
#main-nav > li {
  float: left;
  padding: 0;
  margin: 0 0 0 0;
  list-style: none;
}
#main-nav > li > a {
  padding: 10px 12px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
#main-nav > li > a,
#main-nav > li > a:hover,
#main-nav > li.open > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #1f3852;
  background-image: -moz-linear-gradient(top, #24415f, #172b3e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24415f), to(#172b3e));
  background-image: -webkit-linear-gradient(top, #24415f, #172b3e);
  background-image: -o-linear-gradient(top, #24415f, #172b3e);
  background-image: linear-gradient(to bottom, #24415f, #172b3e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff24415f', endColorstr='#ff172b3e', GradientType=0);
  border: 1px solid #080f15;
  -webkit-box-shadow: inset 0 1px 0 #325b85;
  -moz-box-shadow: inset 0 1px 0 #325b85;
  box-shadow: inset 0 1px 0 #325b85;
}
#main-nav > li > a:hover,
#main-nav > li.open > a {
  background-color: #1b3148;
  background-image: -moz-linear-gradient(top, #1e3751, #16283a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e3751), to(#16283a));
  background-image: -webkit-linear-gradient(top, #1e3751, #16283a);
  background-image: -o-linear-gradient(top, #1e3751, #16283a);
  background-image: linear-gradient(to bottom, #1e3751, #16283a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1e3751', endColorstr='#ff16283a', GradientType=0);
}
#main-nav > li.active > a {
  color: #192d42;
  background: #ffffff;
  filter: none !important;
  border-bottom-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
#main-nav > li > a > i {
  position: relative;
  top: 0px;
  padding-right: 0;
}
#main-nav > li.nav-icon > a > i {
  padding-right: 0;
}
#main-nav > li.nav-icon > a > span {
  display: none;
}
#main-nav > li.dropdown > .dropdown-menu {
  top: 100%;
  left: auto;
  right: 0;
}
#main-nav > li.dropdown > .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #AAA;
  position: absolute;
  top: -7px;
  right: 9px;
}
#main-nav > li.dropdown > .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  right: 10px;
}
#main-nav .dropdown-submenu .dropdown-menu {
  left: auto;
  right: 100%;
}
#main-nav .caret {
  margin-top: 8px;
  margin-left: .25em;
  border-top-color: #FFF;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
#main-nav .active .dropdown-toggle .caret {
  border-top-color: #1d354d;
}





/*------------------------------------------------------------------
Widget / .widget
------------------------------------------------------------------- */
.widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  /* Clearfix Hack */
  /* Widget Table */
  /* Widget Plain */
  /* Widget Box */
}
.widget .widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* IE10+ */
  background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
}
.widget .widget-header h3 {
  top: 2px;
  position: relative;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 14px;
  font-weight: 700;
  color: #555;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.widget .widget-header [class^="icon-"],
.widget .widget-header [class*=" icon-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}
.widget .widget-header .buttons {float: right; margin-right:10px;}
.widget .widget-content {
  padding: 14px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.widget .widget-header + .widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.widget.widget-nopad .widget-content {
  padding: 0;
}
.widget .widget-content {
  *zoom: 1;
}
.widget .widget-content:before,
.widget .widget-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.widget .widget-content:after {
  clear: both;
}
.widget.widget-table .widget-content {
  padding: 0;
}
.widget.widget-table .table {
  margin-bottom: 0;
  border: none;
}
.widget.widget-table .table tr td:first-child,
.widget.widget-table .table tr th:first-child {
  border-left: none;
}
.widget.widget-plain {
  background: transparent;
  border: none;
}
.widget.widget-plain .widget-content {
  padding: 0;
  background: transparent;
  border: none;
}
.widget.widget-box .widget-content {
  background: #E3E3E3;
  background: #FFF;
}

/*------------------------------------------------------------------
Stats / .stats]
*/
.stat-table td {
  padding: 10px 0;
  border: none;
  border-bottom: 1px dotted #CCC;
}
.stat-table .value {
  font-size: 21px;
  font-weight: 600;
}
.stat-table .full {
  color: #666;
  font-size: 13px;
}


/*------------------------------------------------------------------
SCROLLING MENU / .dropdown.scrolling
------------------------------------------------------------------- */
.dropdown.scrolling a.dropdown-toggle::before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-bottom-color:
	rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: -2px;
	left: 10px;
	display: none;
}

.dropdown.scrolling a.dropdown-toggle::after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: -2px;
	left: 11px;
	z-index: 1001;
	display: none;
}

.pull-right .dropdown.scrolling a.dropdown-toggle::before {
	left: auto;
	right: 13px;
}

.pull-right .dropdown.scrolling a.dropdown-toggle::after {
	left: auto;
	right: 14px;
}

.dropdown.scrolling.open a.dropdown-toggle::before,
.dropdown.scrolling.open a.dropdown-toggle::after {
	display: inline-block;
}

.dropdown.scrolling .dropdown-menu {
	height: 250px;
	overflow-x: auto;
}
/*------------------------------------------------------------------
Layout: Footer strip
------------------------------------------------------------------- */
#footer-strip {
  padding: 20px 0;
  color: #ffffff;
  background: #1d354d;
  border-top: 1px solid #000000;
  -webkit-box-shadow:0 0 10px #969696, inset 0 1px 0 #2b4e72;
  -moz-box-shadow:0 0 10px #969696, inset 0 1px 0 #2b4e72;
  box-shadow:0 0 10px #969696, inset 0 1px 0 #2b4e72;
}
#footer-strip a {
  color: #80a7cf;
}
#footer-strip a:hover {
  color: #80a7cf;
  text-decoration: underline;
}
#footer-strip #footer-upgrade {
  text-align: right;
}


/*------------------------------------------------------------------
Layout: Responsive
------------------------------------------------------------------- */
/* Большой дисплей */
@media (min-width: 1200px) {

}
 
/* От портретного планшета до ландшафтного экрана и настольных дисплеев */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* От ландшафтного экрана телефона до потретного планшета */
@media (max-width: 767px) {
  #header-strip, #menu-strip, #container-strip, #footer-strip {
    width: 727px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }
  #footer-strip #footer-upgrade {
	text-align:left;
  }
}
 
/* Landscape - телефоны */
@media (max-width: 480px) {

}